// > Product
// ----------------------------------------------------------------
$product-white: #fff !default;
$product-orange: #dc7b1c !default;
$product-dark-gray: #757575 !default;
$product-gray: #ddd !default;
$product-light-gray: #f4f4ef !default;

// ----- Carousel ----- //
$product-carousel-item-bg: #f4f4ef !default;

// ----- Tabs ----- //
$product-tabs-border-bottom-content: 2px solid $product-orange;
$product-tabs-top-shadow: inset 0 3px $product-orange;
